---
layout: default
---

<div class="home">

  <h1 class="page-heading">Cidades com eventos sobre WordPress</h1>

  <ul class="post-list">
    {% for page in site.pages %}
      {% if page.layout == "events-year" %}
        <li id="{{ page.id }}">
          <h2>
            <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">assine <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
